#wrap {
  width: 100%;
}

/* 상단영역 */
#header {
  width: 100%;
  height: 170px;
}

#header .logo {
  width: 100%;
  height: 115px;
  text-align: center;
  line-height: 115px;
}

#header .logo h1 {
  font-size: 40px;
  color: black;
  font-weight: 900;
}

#header .nav {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header .nav li {
  float: left;
  margin-right: 50px;
}

#header .nav a {
  font-size: 18px;
}

/* 메인이미지영역 */
#main_img {
  width: 100%;
  height: 800px;
  background: url(../images/visual.jpg) no-repeat 50% 0;
}

/* 콘텐츠영역 */
#contents {
  width: 100%;
  height: 1765px;
}

#contents .best {
  margin: 0 auto;
  width: 1200px;
  height: 840px;
}

#contents .best_h {
  padding: 30px 0 0 5px;
  box-sizing: border-box;
  width: 100%;
  height: 70px;
}

#contents .best_h h3 {
  font-size: 17px;
}

#contents .best_b {
  width: 100%;
  height: 620px;
}

#contents .best_b .l_img {
  float: left;
  width: 600px;
  height: 615px;
  border: 1px solid #ccc;
}

#contents .best_b .l_img img {
  width: 100%;
}
/* 615 - 455 = 160 */
#contents .best_b .l_img h4 {
  float: left;
  font-size: 40px;
  line-height: 160px;
  padding: 0 25px;
}

#contents .best_b .l_img .txt_group {
  float: left;
  margin:55px 0 0 0;
}

#contents .best_b .l_img p {
  font-size: 18px;
  margin-bottom: 10px;
}

#contents .best_b .l_img span {
  font-size: 16px;
}

#contents .best_b .l_img a {
  float: right;
  margin: 80px 25px 0 0;
}

#contents .best_b .list {
  float: right;
  width: 550px;
}

#contents .best_b .list li {
  width: 100%;
  height: 106px;
  padding-bottom: 27px;
  margin-bottom: 27px;
  border-bottom: 1px solid gray;
}

#contents .list h4 {
  float: left;
  font-size: 40px;
  line-height: 106px;
  padding: 0 20px;
}
#contents .list img {
  float: left;
}
#contents .list .txt_group {
  float: left;
  margin: 30px 0 0 20px;
}
#contents .list p {
  font-size: 18px;
  margin-bottom: 10px;
}
#contents .list span {
  font-size: 16px;
}
#contents .list a {
  float: right;
  margin-top: 65px;
}
#contents .event {
  margin: 0 auto;
  width: 1200px;
  height: 770px;
}
#contents .event_h {
  width: 100%;
  height: 70px;
  padding: 30px 0 0 5px;
  box-sizing: border-box;
}
#contents .event_h h3 {
  font-size: 17px;
}
#contents .event_b {
  width: 100%;
  height: 525px;
}
#contents .event_b ul {
  width: 100%;
}
#contents .event_b li {
  float: left;
  margin-right: 40px;
  width: 370px;
  height: 520px;
  border: 1px solid #ccc;
}
#contents .event_b li:last-child {
  margin-right: 0px;
}
#contents .event_b img {
  width: 100%;
}
#contents .event_b figcaption {   /* 공통적인 여백은 묶어서 설정 */
  padding: 20px 20px 0 20px;
}

#contents .event_b h4 {
  font-size: 18px;
  margin-bottom: 10px;
}
#contents .event_b p{
  font-size: 13px;
  margin-bottom: 30px;
}
#contents .event_b span{
  float: left;
  font-size: 16px;
  font-weight: 600;
}
#contents .event_b a{
  float: right;
  font-size: 15px;
  color: aquamarine;
}
#contents .event_f {
  width: 100%;
  height: 175px;
  text-align: center; /* 글자가 속한 부모 요소에 설정 */
  line-height: 175px;
}
#contents .event_f a {
  font-size: 17px;
}
#contents .banner {
  width: 100%;
  height: 165px;
  border-top: 1px solid #555;
}
#contents .banner_in {
  margin: 0 auto;
  width: 1200px;
  height: 165px;
}
#contents .banner_in div {
  float: left;
}
#contents .banner_in div:nth-child(1) {
  padding-top: 30px;
}
#contents .banner_in h4 {
  font-size: 11px;
  color: #ccc;
  margin-bottom: 6px;
}
#contents .banner_in div:nth-child(1) h5 {
  font-size: 25px;
  margin-bottom: 6px;
  color: #333;
  font-weight: 900;
}
#contents .banner_in div:nth-child(1) p {
  font-size: 12px;
  color: #555;
  line-height: 1.5;
}
#contents .banner_in div:nth-child(2) {
  margin-left: 130px;
  padding-top: 55px;
}
#contents .banner_in div:nth-child(2) h4 {
  font-size: 13px;
}
#contents .banner_in div:nth-child(2) h5 {
  font-size: 30px;
  color: #ccc;
  font-weight: 600;
  margin: 14px 0 0 18px;  
}
#contents .banner_in div:nth-child(3) {
  float: right;
  padding-top: 55px;
}
#contents .banner_in div:nth-child(3) img {
  width: 275px;
}

/* 하단영역 */
#footer {
  width: 100%;
  height: 160px;
  background-color: wheat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px; /* info_mn에 설정하면 footer가 같이 내려감 */
  box-sizing: border-box;
}
#footer .info_mn {
  margin-bottom: 20px;
}
#footer .info_mn li {
  float: left;
  margin-right: 15px;
}
#footer .info_mn li:last-child {
  margin-right: 0px;
}
#footer .info_mn a {
  font-size: 13px;
  color: #333;
}
#footer .info_mn a:hover {
  color: #000;
  font-weight: 400;
}
#footer .address {
  width: 100%;
  text-align: center;
  font-size: 13px;
  font-style: normal;
  line-height: 1.8;
}

@media all and (max-width: 1200px) {
  
}