/*
  웹폰트 : 구글에 웹폰트 검색 -> 구글 웹폰트 들어가기 -> filter: korean -> get font -> 
  get embed font -> html(link)이나 css(import)에 가지고오기 -> css class code 가져오기
*/

/* 내부로 웹폰트 가져오기_소스 방식 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nanum+Myeongjo&display=swap');

/* 선택자.nanum-gothic-regular를 적용 */
.nanum-gothic-regular {
  font-family: "Nanum Gothic", serif;
  font-weight: 400;
  font-style: normal;
}
.nanum-myeongjo-regular {
  font-family: "Nanum Myeongjo", serif;
  font-weight: 400;
  font-style: normal;
}

*{
  margin: 0;
  padding: 0;
}

body {
  /* font-family: "Nanum Gothic", serif; */
  font-family: 맑은고딕; 
  font-size: 15px;
  color: #333;
}

img {
  border: 0px;
}

ul, li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1 {
  font-family: "Nanum Myeongjo", serif;
}

