@media screen and (max-width:480px) {
  #header {
    width: 100%;
    height: 180px;
    background-color: aquamarine;
  }
  #header_in {
    margin: 0 auto;
    /* width: 1500px; */
    width: 100%;
    height: 180px;
    background-color: #ccc;
  }
  #header_in .logo {
    float: none;
    /* margin-right: 50px; */
    margin-right: 0px;
    /* width: 200px; */
    width: 100%;
    height: 120px;
    background-color: #ccc;
    text-align: center;
    line-height: 120px;
  }
  #header_in .nav {
    float: none;
    /* width: 1000px; */
    width: 100%;
    height: 60px;
    background-color: rgb(155, 107, 201);
  }
  #header_in .nav ul {

  }
  #header_in .nav li {
    float: left;
    /* width: 200px; */
    width: 20%;    
    height: 60px;
    border-right: 1px solid #fff;
    box-sizing: border-box;
  }
  #header_in .nav a {
    display: block;
    text-align: center;
    line-height: 60px;
    font-size: 18px;
    color: #fff;
  }

  #header_in .infomn {
    display: none;
    float: right;
    /* width: 200px; */
    width: 16.6%;
    height: 120px;
    background-color: rgb(95, 74, 114);
  }
  #header_in .infomn ul {
    width: 100%;
  }
  #header_in .infomn li {
    float: left;
    width: 33%;
    height: 120px;
  }
  #header_in .infomn a {
    display: block;
    text-align: center;
    line-height: 120px;
    font-size: 12px;
    color: #fff;
  }

  #contents .best {
    margin: 0 auto;
    /* width: 1200px; */
    width: 100%;
    height: 890px;
    background-color: antiquewhite;
  }
  #contents .best_h {
    width: 100%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #ac8739;
  }
  #contents .best_b {
    width: 100%;
    height: 740px;
    background-color: #7a673f;
  }
  #contents .best_b ul {
    width: 100%;
  }
  #contents .best_b li {
    float: none;
    margin-bottom: 20px;
    width: 100%;
    height: 350px;
    border-right: 0px;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    text-align: center;
    line-height: 350px;
  }
  #contents .best_f {
    width: 100%;
    height: 100px;
    text-align: center;
    line-height: 100px;
  }

  #contents .event {
    margin: 0 auto;
    margin-top: 40px; 
    width: 100%;
    height: 400px;
    background-color: antiquewhite;
  }
  #contents .event_h {
    float: none;
    width: 100%;  /* (200 / 1200) * 100 */
    height: 100px;
    background-color: thistle;
    text-align: center;
    line-height: 100px;
  }
  #contents .event_b {
    float: none;
    width: 100%;
    height: 300px;
    background-color: rgb(172, 112, 172);
  }
  #contents .event_b ul {
    width: 100%;
  }
  #contents .event_b li {
    float: left;
    width: 49%;
    margin-right: 2%;
    height: 300px;
    background-color: #ccc;
  }
  #contents .event_b li:nth-child(2) {  /* 반응형에서는 first, last보다 nth사용 권장 */
    margin-right: 0%;                 
  }
  #contents .event_b li:nth-child(3) {
    display: none;                 
  }
  #footer {
    width: 100%;
    height: 330px;
    background-color: rgb(161, 56, 96);
  }
  #footer_in {
    margin: 0 auto;
    /* width: 1500px; */
    width: 100%;
    height: 330px;
    background-color: rgb(201, 107, 180);
  }
  #footer .logo2 {
    float: none;
    width: 100%;
    height: 100px;
    text-align: center;
    list-style: 150px;
    background-color: yellow;
    text-align: center;
    line-height: 100px;
  }
  #footer .address {
    float: none;
    width: 100%;
    height: 150px;
    text-align: center;
    line-height: 150px;
    background-color: rgb(123, 199, 108);
  }
  #footer .sns_btn {
    float: right;
    width: 100%;
    height: 80px;
  }

  #footer .sns_btn li {
    float: left;
    width: 50%;
    height: 80px;
    background-color: #ccc;
    text-align: center;
    line-height: 80px;
  }
  #footer .sns_btn a {
    display: block;
  }
}